<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="LogicaNegocio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<LogicaNegocio.Properties.Settings>
			<setting name="LogicaNegocio_ServicioMatriculas_Matriculas" serializeAs="String">
				<value>http://ehusw.es/jav/ServiciosWeb/comprobarmatricula.php</value>
			</setting>
			<setting name="LogicaNegocio_serviciocalcularmedia_ServicioWebMedias"
			 serializeAs="String">
				<value>https://serviciocalcularmedia.azurewebsites.net/ServicioWebMedia.asmx</value>
			</setting>
		</LogicaNegocio.Properties.Settings>
	</applicationSettings>
</configuration>